<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mis Favoritos</title>
    <link rel="stylesheet" href="/css/favorites.css">
    <script src="js/favourites.js"></script>
</head>

<body>
    <main>
        <div id="favorites-container">
            <table class="fav-table">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </table>
        </div>
    </main>
    <script>
        favourites();
    </script>
</html>