<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<%- include('../partials/header') %>

<div class="container">
    <h2>Catálogo de Juegos</h2>
    <div id="catalogContainer">
        <div class="loading">Cargando juegos...</div>
    </div>
</div>

<script src="/js/catalog.js"></script>

<%- include('../partials/footer') %>

